.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
    position: relative;
}

.status-indicator.online {
    background-color: #21ba45;
    box-shadow: 0 0 4px #21ba45;
}

.status-indicator.offline {
    background-color: #db2828;
    box-shadow: 0 0 4px #db2828;
}
