<!-- Model Config Modal -->
<div class="ui modal" id="configModal">
    <div class="header">Model Configuration</div>
    <div class="content">
        <div id="selectedModels" class="ui list">
            <!-- Selected models will be listed here -->
        </div>
        <form class="ui form">
            <div class="field">
                <label>System Prompt</label>
                <textarea id="systemPrompt" rows="3"></textarea>
            </div>
            <div class="field">
                <label>Template</label>
                <textarea id="template" rows="3"></textarea>
            </div>
            <div class="field">
                <label>Parameters</label>
                <div id="parameters" class="ui segments">
                    <!-- Parameters will be dynamically added here -->
                </div>
                <div class="ui basic segment">
                    <button type="button" class="ui small primary labeled icon button" onclick="addParameter()">
                        <i class="plus icon"></i>
                        Add Parameter
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui positive button" onclick="saveModelConfig()">Save</div>
    </div>
</div>