<!-- Model Config Modal -->
<div class="ui modal" id="configModal">
    <div class="header">{{  gettext('Model Configuration') }}</div>
    <div class="content">
        <div id="selectedModels" class="ui list">
            <!-- Selected models will be listed here -->
        </div>
        <form class="ui form">
            <div class="field">
                <label>{{ gettext('System Prompt') }}</label>
                <textarea id="systemPrompt" rows="3"></textarea>
            </div>
            <div class="field">
                <label>{{ gettext('Template') }}</label>
                <textarea id="template" rows="3"></textarea>
            </div>
            <div class="field">
                <label>{{ gettext('Parameters') }}</label>
                <div id="parameters" class="ui segments">
                    <!-- Parameters will be populated here -->
                </div>
                <button type="button" class="ui small primary button" onclick="addParameter()">
                    <i class="plus icon"></i> {{  gettext('Add Parameter') }}
                </button>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">{{  gettext('Cancel') }}</div>
        <div class="ui positive button" onclick="saveModelConfig()">{{  gettext('Save') }}</div>
    </div>
</div>
