<!-- Settings Modal -->
<div class="ui modal" id="settingsModal">
    <div class="header">
        <i class="cog icon"></i>
        {{ gettext('Parameters') }}
    </div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>{{  gettext('Ollama Server URL') }}</label>
                <input type="text" id="ollamaUrl" placeholder="http://localhost:11434">
            </div>
            <div class="field">
                <label>{{  gettext('Interface Theme') }}</label>
                <button class="ui circular icon button" onclick="toggleTheme()">
                    <i class="sun icon"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui cancel button">{{ gettext('Cancel') }}</div>
        <div class="ui positive button" onclick="saveSettings()">{{  gettext('Save') }}</div>
    </div>
</div>
